doctype html
head
   title anime
   meta(charset="utf-8")
   link(rel="stylesheet" type="text/css" href="style.css")
body
   .world
      .system
         .center.sun
            .satellite.system
                  .center.earth
                     .satellite
                        .system
                           .center.moon
                              .satellite
            .satellite.system.mars_space
               .center
                  .satellite

