/*глобальные настройки*/
body{
  min-height: 100%; min-width: 100%;
  background-color: black;
  display:flex;  justify-content: center;  align-items: center;
}
.world{
  @world_w:800px;
  width:@world_w;  height:@world_w;
  display:flex;  justify-content: center;  align-items: center;
}
/*небесная механика*/
.keyframes(@name, @from, @to){
  @-webkit-keyframes @name {
    0% {
      transform: rotate(@from);
    }
    100% {
      transform: rotate(@to);
    }
  }
  @-moz-keyframes @name {
    0% {
      transform: rotate(@from);
    }
    100% {
      transform: rotate(@to);
    }
  }
  @keyframes @name {
    0% {
      transform: rotate(@from);
    }
    100% {
      transform: rotate(@to);
    }
  }
}

.keyframes(circle, 0deg, 360deg);

.keyframes(circle_shift, 120deg, 480deg);

.system{
  top:0; left:0;
  width:75%; height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //border:1px solid blue;
  //border-radius: 100%;

  .center{

    position:relative;
    width:40%; height: 40%;
    //border:1px solid red;
    border-radius: 100%;
    background-color: red;

    .satellite{
      position: absolute;
      width:50%; height: 50%;
      left:-60%; top:0;
      //border:3px solid yellow;
      border-radius: 100%;
      //background-color: aqua;
      animation: circle 2s linear infinite;
      transform-origin: 220% 100% 0;
    }

  }
}
/*небесные тела*/
.earth{
  background-color: blue!important;
}

.moon{
  background-color: silver!important;
}

.mars_space{
  left:-60%!important; top:0!important;
  animation: circle_shift 2s linear infinite!important;
  transform-origin: 280% 100% 0!important;
}
.mars_space>.center{
  width: 21%!important;
  height: 21%!important;
}

.sun{
  background-color: yellow!important;
  animation: crown 3s linear infinite;
}
@-webkit-keyframes crown {
  0% {
    box-shadow: 0 0 5px yellow,
                4px 2px 111px #FF0000,
                -1px -1px 111px lighten(#FF0000,20%),
                2px 4px 121px darken(#FF0000,20%);
  }
  25%{
    box-shadow: 4px 8px 121px #FF0000,
                -1px -10px 111px darken(#FF0000,20%),
                2px 4px 151px lighten(#FF0000,20%);
  }
  50%{
    box-shadow: 0 0 5px yellow,
                -15px 8px 121px #FF0000,
                10px -10px 131px lighten(#FF0000,20%),
                2px 15px 111px darken(#FF0000,5%);
  }
  75%{
    box-shadow: -15px 8px 121px #FF0000,
                  10px -10px 131px lighten(#FF0000,20%),
                2px 15px 111px darken(#FF0000,5%);
  }
  100% {
    box-shadow: 0 0 5px yellow,
                4px 2px 111px #FF0000,
                -1px -1px 111px lighten(#FF0000,20%),
                  2px 4px 121px darken(#FF0000,20%);
  }
}
@keyframes crown {
  0% {
    box-shadow: 0 0 5px yellow,
    4px 2px 111px #FF0000,
      -1px -1px 111px lighten(#FF0000,20%),
    2px 4px 121px darken(#FF0000,20%);
  }
  25%{
    box-shadow: 4px 8px 121px #FF0000,
      -1px -10px 111px darken(#FF0000,20%),
    2px 4px 151px lighten(#FF0000,20%);
  }
  50%{
    box-shadow: 0 0 5px yellow,
    -15px 8px 121px #FF0000,
      10px -10px 131px lighten(#FF0000,20%),
    2px 15px 111px darken(#FF0000,5%);
  }
  75%{
    box-shadow: -15px 8px 121px #FF0000,
      10px -10px 131px lighten(#FF0000,20%),
    2px 15px 111px darken(#FF0000,5%);
  }
  100% {
    box-shadow: 0 0 5px yellow,
    4px 2px 111px #FF0000,
      -1px -1px 111px lighten(#FF0000,20%),
    2px 4px 121px darken(#FF0000,20%);
  }
}

@media screen and (max-width:800px){
  .world{
    width:600px;  height:600px;
  }
}
@media screen and (max-width:600px){
  .world{
    width:400px;  height:400px;
  }
}
@media screen and (max-width:400px){
  .world{
    width:300px;  height:300px;
  }
}

