/*глобальные настройки*/
body {
  min-height: 100%;
  min-width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.world {
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*небесная механика*/
@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circle_shift {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
@-moz-keyframes circle_shift {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
@keyframes circle_shift {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
.system {
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.system .center {
  position: relative;
  width: 40%;
  height: 40%;
  border-radius: 100%;
  background-color: red;
}
.system .center .satellite {
  position: absolute;
  width: 50%;
  height: 50%;
  left: -60%;
  top: 0;
  border-radius: 100%;
  animation: circle 2s linear infinite;
  transform-origin: 220% 100% 0;
}
/*небесные тела*/
.earth {
  background-color: blue!important;
}
.moon {
  background-color: silver!important;
}
.mars_space {
  left: -60% !important;
  top: 0!important;
  animation: circle_shift 2s linear infinite!important;
  transform-origin: 280% 100% 0!important;
}
.mars_space > .center {
  width: 21%!important;
  height: 21%!important;
}
.sun {
  background-color: yellow!important;
  animation: crown 3s linear infinite;
}
@-webkit-keyframes crown {
  0% {
    box-shadow: 0 0 5px yellow, 4px 2px 111px #ff0000, -1px -1px 111px #ff6666, 2px 4px 121px #990000;
  }
  25% {
    box-shadow: 4px 8px 121px #ff0000, -1px -10px 111px #990000, 2px 4px 151px #ff6666;
  }
  50% {
    box-shadow: 0 0 5px yellow, -15px 8px 121px #ff0000, 10px -10px 131px #ff6666, 2px 15px 111px #e60000;
  }
  75% {
    box-shadow: -15px 8px 121px #ff0000, 10px -10px 131px #ff6666, 2px 15px 111px #e60000;
  }
  100% {
    box-shadow: 0 0 5px yellow, 4px 2px 111px #ff0000, -1px -1px 111px #ff6666, 2px 4px 121px #990000;
  }
}
@keyframes crown {
  0% {
    box-shadow: 0 0 5px yellow, 4px 2px 111px #ff0000, -1px -1px 111px #ff6666, 2px 4px 121px #990000;
  }
  25% {
    box-shadow: 4px 8px 121px #ff0000, -1px -10px 111px #990000, 2px 4px 151px #ff6666;
  }
  50% {
    box-shadow: 0 0 5px yellow, -15px 8px 121px #ff0000, 10px -10px 131px #ff6666, 2px 15px 111px #e60000;
  }
  75% {
    box-shadow: -15px 8px 121px #ff0000, 10px -10px 131px #ff6666, 2px 15px 111px #e60000;
  }
  100% {
    box-shadow: 0 0 5px yellow, 4px 2px 111px #ff0000, -1px -1px 111px #ff6666, 2px 4px 121px #990000;
  }
}
@media screen and (max-width: 800px) {
  .world {
    width: 600px;
    height: 600px;
  }
}
@media screen and (max-width: 600px) {
  .world {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 400px) {
  .world {
    width: 300px;
    height: 300px;
  }
}
